$primary-color: #1E4F9E;
$secondary-color: #121275;
$secondary-color-opac: rgba(18, 18, 117, 0.8);
$light-color: #D4DFF1;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    background-color: $light-color; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;

    label {
      font-weight: bold;
      margin-bottom: 4px;
    }

    input {
      width: 90%;
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      width: 50%;
      padding: 10px;
      background-color: $secondary-color; 
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: $secondary-color; 
      }

      &[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    .error-message {
      color: red;
      margin-top: 10px;
    }
  }
}
