// _register-form.scss (ou le nom que vous choisissez)
$primary-color: #1E4F9E;
$secondary-color: #121275;
$secondary-color-opac: rgba(18, 18, 117, 0.8);
$light-color: #D4DFF1;

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $light-color;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    label {
      font-size: 1.2rem;
      font-weight: bold;
      color: $primary-color;
    }
    
    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid $secondary-color;
      border-radius: 4px;
    }
    
    button {
      background-color: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: $secondary-color-opac;
      }
      
      &:disabled {
        background-color: $secondary-color;
        cursor: not-allowed;
      }
    }
    
    .error-message {
      color: $primary-color;
    }
  }
}
